<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<h2>All Orders</h2>

#only admin can check all oreders

<% if current_user && current_user.admin %>

<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Line Items: </p>
  <ul>
    <% order.line_items.each do |item| %>
      <%= image_tag item.product.avatar.variant(:medium) %>
    <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
  </ul>
<% end %>

<% else %>
  <p>you are not admin user</p>
<% end %>